<div>
    <br>
    <button class="cta">
        <span>Upload Your IP</span>
        <svg width="15px" height="10px" viewBox="0 0 13 10">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
        </svg>
    </button>
    <br>
    <br>
    <br>
    <button class="cta">
        <span>License an IP</span>
        <svg width="15px" height="10px" viewBox="0 0 13 10">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
        </svg>
    </button>

    <button class="profile-button type1">
        <span class="profile-btn-txt">User Profile</span>
    </button>
</div>

