.page-container {
    width: 100vw;
    height: 100vh;
    background: transparent;
  }
  
.side-nav {
   padding: 20px;
   background-color: rgba(0, 0, 0, 0.1);
}

.page-content {
   padding: 20px;
}